<h1>Burgers!</h1>

<h2>Burgers ready to be eaten!</h2>

{{!-- <ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{name}}

        <button class="change-status" data-id="{{id}}" data-devourstatus="{{devour}}">
            {{#if devour}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
        </button>
        <button class="delete-button" data-id="{{id}}">DELETE THIS CAT!!! It pooped on the carpet.</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{name}}

        <button class="change-status" data-id="{{id}}" data-devourstatus="{{notdevour}}">
            {{#if notdevour}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
        </button>
        <button class="delete-button" data-id="{{id}}">DELETE THIS CAT!!! It pooped on the carpet.</button>
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
    </div>

    <div class="form-group">
        <label for="devour">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> devoured!<br>
        <input type="radio" name="devoured" value="0"> Not devoured!
    </div>

    <button type="submit">Add Burger</button>
</form> --}}